[Unit]
Description=Robot Listener Service
After=redis-server.service

[Service]
Type=simple
WorkingDirectory=/robot/listener
ExecStart=/robot/listener/venv/bin/listener

[Install]
WantedBy=multi-user.target